body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ECF0F1;
    color: #23272A;
}

header, nav, section, footer {
    margin: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    clear: both;
}

h1, h2 {
    font-size: 3.0em
}

p {
    font-size: 1.2em;
}


.footerdiv {
    background-color: #23272A;
    color: #ECF0F1;
}